<div class="container mt-2">
  <ng-container *ngIf="client | async as listclients; else failOrLoading">

    <div class="card">
      <div class="card-header">Owners</div> <!-- header -->

      <div class="card-body"> <!-- body -->
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchClients()">
            <div class="input-group">
              <label class="input-group-text">Keyword</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search">

                </i>
              </button>
            </div>
          </form>
        </div>



        <table class="table"> <!-- table -->
          <thead>
          <tr>
            <th>ID</th> <th>Name</th> <th>Capital</th><th>Delete</th><th>Alter</th><th>Demands</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let c of listclients">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.capital}}</td>
            <td>
              <button class="btn btn-danger" (click)="handleDeleteClient(c)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-info" routerLink="/update-client/{{c.id}}">
                <i class="bi bi-pen"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-info" routerLink="/demands/{{c.id}}">
                <i class="bi bi-arrow-up-right-square"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>

  </ng-container>

  <ng-template #failOrLoading>

    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>

    <ng-template #loading>
      loading...
    </ng-template>
  </ng-template>
</div>
